:root {

    --background: #f8f9fa;
    --primaryColor: #F9622E;
    --hover: #FE820E;
}

body {
    background-color: var(--background);
}

.primaryColor {
    background-color: var(--primaryColor);
    /* قم بتغيير القيمة إلى لون الاحمر المناسب */
}

.btn {
    color: white;
    font-weight: 500;
    background-color: var(--primaryColor);

}

.btn:hover {
    color: white;
    background-color: var(--hover);
    box-shadow: none;

}

.btn:focus {
    box-shadow: none;

}

label {
    font-weight: 500;
}

input[type=text],
input[type=password],
input[type=email],
input[type=number] {
    background-color: rgba(255, 255, 255, 0.5);
}


input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus {
    background-color: rgba(255, 255, 255, 0.5);
    border-color: #F9622E;
    border-width: 1px;
}




.relative {
    position: relative;
}

#showPass {
    position: absolute;
    top: 20%;
    right: 12px;
}

#showPass i {
    color: var(--primaryColor);
}